@use '@material/theme' as theme with (
	$primary: #73daa5,
	$on-primary: #003822,
	$secondary: #b4ccbc,
	$on-secondary: #203529,
	$error: #ffb4ab,
	$on-error: #690005,
	$surface: #191c1a,
	$on-surface: #e1e3df,
	$background: #191c1a
);

@use '@material/typography/index' as typography;

html,
body {
	background-color: theme.$background;
	font-family: 'Roboto', sans-serif !important;
	color: theme.accessible-ink-color(theme.$surface);
}
